.metamask {
  margin-top: 7%;
  display: block;
  text-align: center;
}

.calculator {
  background-color: var(--background);
}

.centeredasf {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.wallet-account {
  text-align: center;
}

.content-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding: 64px 128px;
  margin-bottom: 7%;
}

#calculator {
  max-width: 500px;
  padding: 48px 36px;
  background-color: #fff;
  border: 2px solid #d8dae5;
  border-radius: 5px;
  margin-left: 64px;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 20%);
  position: relative;
  overflow: hidden;
}

.calc-title {
  font-size: 1.2em;
  /* font-style: oblique; */
}

.calc-left {
  max-width: 450px;
  width: 50%;
}

@media (max-width: 768px) {
  .metamask {
    margin-top: 15%;
  }
  #calculator {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 24px;
    border-width: 0px;
    box-shadow: none;
  }
  .calc-title {
    max-width: initial;
  }
  .content-flex {
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    justify-content: center;
    align-items: center;
    padding-bottom: 300px;
    background-size: initial;
    background-position: 30% 100%;
  }
}

.crypto-h1 {
  color: #519259;
}

.crypto-p {
  font-size: 1rem;
}

#oneBTC {
  color: #1f2374;
  font-size: 2em;
  margin-bottom: 18px;
}

#oneBTC span {
  font-size: 0.9rem;
  margin-left: 0.6rem;
}

#oneBTC_seperator {
  font-size: 1em;
  margin-top: 0px;
  margin-right: 16px;
  margin-bottom: 0px;
  margin-left: 16px;
}

.inputBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;
}

.right-input {
  margin-left: 25px;
}

.calc-p {
  font-size: 0.8rem;
}
