.appbar {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.mobile-menu-icon {
  color: #000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-li {
  padding: 0 1rem;
}

.nav-a {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}
